<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Ashwini Bhardwaj</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.15.349/pdf.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        .projects-container{
            margin-top:50px;
        }
    </style>
</head>
<body>
    <nav class="navbar"></nav>
        <div class="navbar-container">
            <!-- Logo -->
            <a href="#home" class="navbar-logo">ASHWINI BHARDWAJ - Projects</a>
        </div>
    </nav>

    <div class="projects-container">
        <div class="project-card">
            <i class="project-icon fas fa-code"></i>
            <h3 class="project-title">AutoML Tool</h3>
            <p class="project-description">An automated machine learning tool for model generation and evaluation.This platform takes raw data, performs essential cleaning and transformation tasks, and then generates multiple machine learning models. The best-performing model can be downloaded at user's end.</p>
            <a href="https://automate-fnkl.onrender.com/" class="project-link" target="_blank" title="live link">View Project <i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="project-card">
            <i class="project-icon fas fa-chart-line"></i>
            <h3 class="project-title">Stock Trend Prediction</h3>
            <p class="project-description">LSTM based model to predict stock market trends based on historical data. By utilizing deep learning techniques, the app forecasts the price movements of stocks over time, allowing users to make informed investment decisions.</p>
            <a href="https://github.com/ashwinibhardwaj/stock-trend-prediction" class="project-link" title="github link" target="_blank">View Project <i class="fab fa-github"></i></a>
        </div>
        <div class="project-card">
            <i class="project-icon fas fa-home"></i>
            <h3 class="project-title">Rental Platform</h3>
            <p class="project-description">A web app designed to seamlessly connect renters with property owners. The platform aims to simplify the property rental process while ensuring a smooth and efficient connection between landlords and tenants. </p>
            <a href="https://github.com/ashwinibhardwaj/DwellSphare" class="project-link" target="_blank" title="github link">View Project <i class="fab fa-github"></i></a>
        </div>
        
        <div class="project-card">
            <i class="project-icon fas fa-leaf"></i> 
            <h3 class="project-title">Environment Quality Analyser</h3>
            <p class="project-description">A dynamic platform that provides a map interface, allowing users to select a location and receive visualized environmental data. It utilizes machine learning algorithms to analyze the area's environmental quality, offering insights on air quality, pollutants, and other key indicators.  <i class="fas fa-question-circle" id="question-icon"></i></p>
            <a href="" class="disabled project-link" >View Project <i class="fas fa-link-slash"></i></a>
        </div>

        <div class="project-card">
            <i class="project-icon fab fa-reddit reddit-icon"></i> 
            <h3 class="project-title">Reddit Sentiment Analysis</h3>
            <p class="project-description">This project analyzes Reddit posts and comments to visualize sentiment trends using VADER and Plotly, providing insights into community opinions and trends.</p>
            <a href="https://reddit-sentiment-analysis-x26j.onrender.com" class="project-link" title="live link" target="_blank">View Project <i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="project-card">
            <i class="project-icon fab fa-reddit reddit-icon"></i> 
            <h3 class="project-title">Customer Churn Prediction</h3>
            <p class="project-description">The Customer Churn Prediction project utilizes machine learning to analyze customer data and identify patterns that predict churn behavior. It helps businesses proactively retain customers by offering actionable insights based on realistic datasets.</p>
            <a href="https://github.com/ashwinibhardwaj/Customer-Churn-Prediction" class="project-link" title="Github link" target="_blank">View Project <i class="fab fa-github"></i></a>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>Let's connect and collaborate <i class="smile fas fa-smile"></i></p>
            </div>
                
            </div>
    </footer>
</body>
</html>
